body {
  background: black;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.one {
  color: palevioletred;
  margin-bottom: 30px;
  text-shadow: 1px 1px #fff;
}
#one{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: yellow;
    text-align: left;
    text-shadow: 1px 1px #fff;
}
ul{
    color:white;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.two{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    text-shadow:1px 1px #fff;
}
#two {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    text-align: left;
    text-shadow: 1px 1px #fff;
}
p{
    color: rgba(255, 255, 255, 0.808);
    text-align: left;
    width: 1000px;
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    border-width: 5px;
    border-color:black;
    border-style: solid;
}
.code{
  color:darkgoldenrod;
  text-align: left;
  text-shadow: 1px 1px #fff;
}
img{
  padding: 20px;
}